<div id="app">
  <div class="row align-items-center bg-danger m-0">
    <div class="col-10 text-light">Order No. : +6243618261</div>
   
      <!-- <input class="col-1 text-light pr-0 pl-5 text-dark" value="English"> -->
      <div class="col-1"> <select name="cars" id="cars" class="pr-0 text-dark" value="English">
        <option value="volvo">English</option>
        <option value="saab">French</option>
        <option value="mercedes">Chinese</option>
        <option value="audi">Hindi</option>
      </select></div>
      <div class="col-1 text-light pl-4 pointer"  routerLink="login" *ngIf="!isLoggedIn">Sign In</div>
      <div class="col-1 text-light pl-0 pointer"  *ngIf="isLoggedIn">{{ username }}</div>
  </div>
  <nav class="navbar navbar-expand navbar-dark bg-light">
    <img src="../assets/restathsh.jpg" alt="food" class="food">

    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link text-dark" routerLink="home">Home </a>
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link text-dark" routerLink="restaurantList">Restaurant </a>
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link text-dark" routerLink="drinksBeverages" *ngIf="!isLoggedIn">Drinks & Beverages </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link text-dark" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link text-dark" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link text-dark" *ngIf="isLoggedIn" routerLink="user">User</a>
      </li>
    </ul>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item pointer">
        <div class="text-center"><i class="fa-solid fa-user fontSize" ></i></div>
        <div class="d-flex justify-content-center">
        <!-- <a href="/register" class="nav-link text-dark fontSize" routerLink="register">My Account</a><span><i class="fa-solid fa-caret-down"></i></span> -->
        <div class="custom-dropdown">
          <div class="selected-option d-flex justify-content-center"><a href="/login" class="nav-link text-dark fontSize" routerLink="login">View Cart</a><span><i class="fa-solid fa-caret-down"></i></span></div>
          <ul class="dropdown-list" *ngIf="isLoggedIn">
            <li class="pointer">Profile</li>
            <li class="pointer" (click)="logout()">Logout</li>
            <!-- Add more options as needed -->
          </ul>
          <ul class="dropdown-list" *ngIf="!isLoggedIn">
            <li class="pointer" routerLink="login">Sign In</li>
            <li class="pointer" routerLink="register">Sign Up</li>
            <!-- Add more options as needed -->
          </ul>
        </div>

        <!-- <a href class="nav-link text-dark" (click)="logout()">LogOut</a> -->
        </div>
      </li>
      <li class="nav-item pointer">
        <div class="text-center"><i class="fa-solid fa-cart-shopping fontSize"></i></div>
        <div class="d-flex justify-content-center">
        <a href="/login" class="nav-link text-dark fontSize" routerLink="cart">View Cart</a><span><i class="fa-solid fa-caret-down"></i></span>
        </div>
      </li>
    </ul>

    <!-- <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link text-dark" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link text-dark" (click)="logout()">LogOut</a>
      </li>
    </ul> -->
  </nav>
</div>

  <div class="">
    <router-outlet></router-outlet>
  </div>
