<div class="w-100 row">
   <!-- CHOOSE YOUR TASTE SECTION STARTS HERE -->
<div class="col-3  bg-danger pl-2 pr-0">
    <div class="heading">
    <h4 class="p-2 heading text-white">Food</h4>
    </div>
        <div class="p-3 text-white borderBottum fontSize pointer">Pizza</div>
        <div class="p-3 borderBottum text-white fontSize pointer">Burger</div>
        <div class="p-3 borderBottum text-white fontSize pointer">Chicken</div>
        <div class="p-3 borderBottum text-white fontSize pointer">Sandwiches</div>
        
        <div class="heading">
            <h4 class="p-2 text-white ">Drinks</h4>
            </div>
        <div class="p-3 borderBottum text-white fontSize pointer">Alcoholic Drinks</div>
        <div class="p-3 borderBottum text-white fontSize pointer">Non-Alcoholic Drinks</div>
        <div class="p-3 borderBottum text-white fontSize pointer">Coffee</div>
</div>
  <section class="col-9">
    <div class="choose">
      <div class="choose-heading">
        <div class="pl-4">
          <h2 class="text-danger">Bobbies Burger-Menu</h2>
        </div>
        <div class="choose-heading-2 d-flex justify-content-center p-3">
<button class="btn text-danger">All</button>
<button class="btn text-danger">Food</button>
<button class="btn text-danger">Drinks</button>
        </div>
      </div>
      <div class="choose-menu">
        <div class="choose-menu-inner">
          <div class="menu menu-1">

            <div class="menu-img">
              <img src="../../assets/banner-2.png" alt="food" width="100%">
            </div>

            <div class="menu-text">
              <h3>Grill Park</h3>
              <p>Lorem ipsum dolor sit amet....</p>
              <button>
                <a href="#">View Our Menu</a>
              </button>
            </div>

          </div>

          <div class="menu menu-1">

            <div class="menu-img">
              <img src="../../assets/banner-2.png" alt="food" width="100%">
            </div>

            <div class="menu-text">
              <h3>Grill Park</h3>
              <p>Lorem ipsum dolor sit amet....</p>
              <button>
                <a href="#">View Our Menu</a>
              </button>
            </div>

          </div>

          <div class="menu menu-1">

            <div class="menu-img">
              <img src="../../assets/banner-2.png" alt="food" width="100%">
            </div>

            <div class="menu-text">
              <h3>Grill Park</h3>
              <p>Lorem ipsum dolor sit amet....</p>
              <button>
                <a href="#">View Our Menu</a>
              </button>
            </div>

          </div>

          <div class="menu menu-1">

            <div class="menu-img">
              <img src="../../assets/banner-2.png" alt="food" width="100%">
            </div>

            <div class="menu-text">
              <h3>Grill Park</h3>
              <p>Lorem ipsum dolor sit amet....</p>
              <button>
                <a href="#">View Our Menu</a>
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>

  </section>
</div>

  <footer>
    <div class="footer-inner">
      <div class="footer-main">
        <div class="footer-icons">
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>

        </div>

        <div class="footer-logo">
          <h2>Zomato</h2>
        </div>
        <div class="footer-text">

          <p>Zomato,clark,indonia</p>

          <p class="footer-tele">Telephone:+91 9807897556</p>

          <p>zomato@gmail.com</p>

        </div>

        <div class="footer-icons">
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
          <div class="footer-icon">
            <i class="fa-brands fa-twitter"></i>
          </div>
    

        </div>
      </div>
      <div class="footer-copi">
        <p>
          copyright &copy; 2023 Zomato limited
        </p>
      </div>
    </div>
  </footer>

  <!-- <div class="text-center mt-3"><h5>---Choose Your Taste ---</h5></div>
  <div class="text-center text-danger mt-3"><h3>RESTAURANT</h3></div>
  <section class="m-4">
    <div class="sec-2">
      <div class="d-flex justify-content-between text-center">
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
      </div>
    </div>
  </section>
  <div class="text-center text-danger mt-3"><h3>Featured Menu</h3></div>
  <section class="m-4">
    <div class="sec-2">
      <div class="d-flex justify-content-between text-center">
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img p-2">
          <img src="../../assets/banner-2.png" class="w-100"/>
          <h3>burger king</h3>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
      </div>
    </div>
  </section>
  <section class="m-4">
    <div class="sec-2">
      <div class="d-flex justify-content-between text-center">
        <div class="sec-2-img">
          <img src="../../assets/banner-2.png" class="w-50"/>
          <h3>burger king</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img">
          <img src="../../assets/banner-2.png" class="w-50"/>
          <h3>burger king</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img">
          <img src="../../assets/banner-2.png" class="w-50"/>
          <h3>burger king</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
        <div class="sec-2-img">
          <img src="../../assets/banner-2.png" class="w-50"/>
          <h3>burger king</h3>
          <p>Lorem ipsum dolor sit amet.</p>
          <button class="btn btn-danger rounded-25">Open</button>
        </div>
      </div>
    </div>
  </section>
  <div class="break"></div>
  <section class="p-3 bg-dark">
    <div class="text-center mt-3"><span class="fitIcon"></span><i class="fa fa-facebook-official"></i> <i class="fa-brands fa-facebook"></i><i class="fa-brands fa-twitter"></i><i class="fa-brands fa-youtube"></i><i class="fa-brands fa-whatsapp"></i><i class="fa-brands fa-instagram"></i></div>
    <div class="text-center text-danger mt-3"><h5>RESTAURANT</h5></div>
    <div class="text-center text-danger mt-3"><h5>RESTAURANT</h5></div>
    <div class="text-center text-danger mt-3"><h5>RESTAURANT</h5></div>
    <div class="text-center text-danger mt-3"><h5>RESTAURANT</h5></div>
  </section>
</div> -->